
<script>
    $(document).ready(function(){
        $('.editable').editable({
            mode: 'inline',
            url: window.location.href,
            emptytext: '-',
            params: function(params) 
            {
                return jQuery.extend(true, {oldValue: $(this).text()}, params);
            },
            display: function(value) 
            {
                switch ($(this).attr('data-name'))
                {
                    case 'hry_cena':
                        $(this).text(value + ' Kč'); break;
                    case 'hry_hernidoba':
                        $(this).text(value + ' min'); break;
                }
            },
            error: function(response, newValue) { return ''; },
            success: function(response, newValue) 
            {
                if (response.status !== 'error')
                {
                    $(this).text(newValue);
                }
            }
        });

        $('.datepicker').datepicker({format: "dd-mm-yyyy"});
    });
</script>
    {{navbar|raw}}
    {{body|raw}}
