<div class="section">
    <div class="container">  
        {% if pageName is defined %}    
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">
                {{pageName}}<br>
            </h1>
          </div>
        </div>
        {% endif %}
        {% if dataLenght > 0 %}
            {% for index in range(0, dataLenght-1) %}
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#loan{{index}}">
                            <div class="row" id="{{data[index].id}}">
                                <div class="col-md-3 col-centered" id="clen{{data[index].id}}"><a href="./?member={{data[index].clen_id}}">{{data[index].clen}}</a></div>
                                <div class="col-md-3" id="hra{{data[index].id}}"><a href="./?game={{data[index].hra_id}}">{{data[index].hra}}</a></div>
                                <div class="col-md-3" id="datumPujceni{{data[index].id}}">{{data[index].datumPujceni|date("d.m.Y")}}</div>
                                <div class="col-md-3" id="datumVraceni{{data[index].id}}">{{data[index].datumVraceni|date("d.m.Y")}}</div>
                            </div>
                        </div>
                        <div id="loan{{index}}" class="collapse">
                            <div class="panel-body">{{data[index].pozn}}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>